RABBITMQ_HOST=
RABBITMQ_PORT=
RABBITMQ_USER=
RABBITMQ_PASS=
POSTGRES_USER=
POSTGRES_PASSWORD=
DATABASE_URL=

#RABBITMQ_HOST, RABBITMQ_PORT, RABBITMQ_USER, RABBITMQ_PASS: datos dados en las indicaciones
#DATABASE_URL: postgress://POSTGRES_USER:POSTGRES_PASSWORD@postgres:5432/payments